body {
	background: url(../Photos/background54.png);
	overflow-x: hidden;
	overflow-y: auto;
	width: 100%;
}

html {
	background: url(../Photos/background54.png);
	scroll-behavior: smooth;
}

.animated-button {
	text-decoration: none;
	align-self: center;
	display: inline-block;
	margin: 15px 870px;
	margin-top: 20px;
	/*margin-left: 650px;*/
	padding: 15px 30px;
	overflow: hidden;
	border: 2px solid;
	border-bottom-width: 2px;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: rgb(255, 30, 161);
	background: rgba(255, 255, 255, 1);
	transition: color .3s, background .5s;
	white-space: nowrap;
	text-align: center;
  }
  .animated-button:hover {
	animation: stripes .75s infinite linear;
	background: linear-gradient(45deg, rgb(255, 251, 30) 25%, rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 1) 50%, rgb(255, 251, 30) 50%, rgb(255, 251, 30) 75%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 1));
	background-size: 11px 10px;
	color: #0099ff;
  }
  @keyframes stripes {
	0% {
	  background-position: 0 0;
	}
	100% {
	  background-position: 50px 0;
	}
  }


/*#######_menu_#######*/
#menu8{
    width: 100%;
    height: 45px;
	background-color: #ff9d00;
	font-family: Arial;
} 
.menu {
	box-shadow: rgb(255, 159, 159);
}

#menu8 li{
    display: inline-block;
    margin-top: 5px;
}

#menu8 a:link, #menu8 a:visited{
	color: #FFFFFF; 
	text-decoration: none; 
	display: block;
	padding: 0px 13px;
	line-height: 35px;
	text-align: center;
	font-size: 15px;
}

#menu8 a:hover{
	color: #FFFFFF;
	text-decoration: none;
	background-color: #ff8989;
}

#menu8 ul{
	position: relative;
	left: 1500px;
	padding: 1px;
	position: relative;
}
/*#######_menu_#######*/

.content1 #fs {
	color: skyblue;
	font-family: 'Yusei Magic', sans-serif;
	text-align: center;
	margin-top: 300px;
	font-size: 55pt;
	/*z-index: 2;*/
	text-shadow: 3px 4px 3px rgb(255, 187, 0, 1), 0 0 1em rgb(87, 255, 227);
   -webkit-text-stroke: 0.01px black;
}

#collected {
	text-align: center;
	vertical-align: middle;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 15pt;
}

.content1 {
	width: 100%;
	height: 600px;
	border-bottom: 2px dotted grey;
	position: relative;
}

.tekstura-sanimatsue,
.tekstura-sanimatsue::after {
	animation-delay: 0;
  	animation-delay: var(--animation-delay, 0.2s);
  	animation-iteration-count: 1;
  	animation-iteration-count: var(--iterations, 1);
  	animation-duration: 800ms;
  	animation-duration: var(--duration, 800ms);
  	animation-fill-mode: both;
  	animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
  	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.tekstura-sanimatsue {
  	position: relative;
  	animation-name: text;
  	color: #000000;
  	white-space: nowrap;
  	cursor: default;
  	text-shadow: 0 1px 0 #827a7a;
  	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  	font-weight: lighter;
  	text-align: center;
  	vertical-align: middle;
  	font-size: 15pt;
}

.tekstura-sanimatsue::after {
  	content: "";
  	position: absolute;
  	z-index: 999;
  	top: 0;
  	left: 0;
  	right: 0;
	bottom: 0;
  	background-color: rgb(54, 247, 173);
  	transform: scaleX(0);
  	transform-origin: 0 50%;
  	pointer-events: none;
  	animation-name: revealer;
  	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

@keyframes text {
  from {
  clip-path: inset(0 100% 0 0);
  }
  to {
  clip-path: inset(0 0 0 0);
  }
}

@keyframes revealer {
   
  0%, 50% {
  transform-origin: 0 50%;
  }
   
  60%, 100% {
  transform-origin: 100% 50%;  
  }

   
  60% {
  transform: scaleX(1);
  }
   
  100% {
  transform: scaleX(0);
  }
}


.arrow-down {
	margin-top: 380px;
	margin-left: 945px;
}
.arrow-down span {
	display: block;
	width: 20px;
	height: 20px;
	border-bottom: 5px solid #337AB7;
	border-right: 5px solid #337AB7;
	transform: rotate(45deg);
	margin: -16px;
	animation: arrow-down 2s infinite;
}
.arrow-down span:nth-child(2){
	animation-delay: -0.2s;
}

.arrow-down span:nth-child(3){
	animation-delay: -0.4s;
}

@keyframes arrow-down {
	0%{
		opacity: 0;
		transform: rotate(45deg) translate(-20px,-20px);
	}
	50%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	    transform: rotate(45deg) translate(20px,20px);
	}
}
/*#################################################################content1###############################################################################################*/
/*#################################################################content1###############################################################################################*/
/*#################################################################content1###############################################################################################*/

#content2 {
	height: 1400px;
	width: 100%;
	border-bottom: 2px dotted grey;
	position: relative;
}

.maps {
	position: absolute;
	left: 630px;
	top: 250px;
	box-shadow: 0 0 50px 10px rgba(33, 34, 27, 0.11);
}

#right, #left {
	position: absolute;
	top: 300px;
	left: 130px;
	width: 350px;
	height: 350px;
	/*background-color: rgba(240, 230, 140, 0.705);
	border: 2px dotted grey;*/
	box-shadow: 0 0 50px 10px rgba(33, 34, 27, 0.11);
}

#left {
	position: absolute;
	left: 1400px;
	top: 315px;
}

#right p, #left p {
	text-align: center;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	padding: 15px;
	font-size: 25pt;
	margin-top: 60px;
}

#left p {
	 margin-top: 45px;
	 font-size: 35pt;
}


* {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  width: 100%;
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: absolute;
  right: -3px;
}

.registerbtn:hover {
  opacity:1;
}

#rgs, #p {
	font-family: 'Yusei Magic', sans-serif;
}

.container {
	position: absolute;
	top: 800px;
	text-align: center;
	left: 500px;
}
form {
	position: relative;
}

a {
	text-decoration: none;
	color: grey;
	font-family: 'Yusei Magic', sans-serif;
}

a:hover {
	color: black;
}

#bottom {
	font-family: 'Yusei Magic', sans-serif;
	position: absolute;
	top: 700px;
	left: 680px;
}

.footer {
	border-top: 1px dotted grey;
	height: 130px;
	position: relative;
}

#right1 {
	color: grey;
	margin-left: 30px;
	margin-top: 20px;
	width: 600px;
	text-align: left;
}

a {
	text-decoration: none;
	color: grey;
}

a:hover {
	color: black;
}

body {
	background: url(../Downloads/background54.png);
	overflow-x: hidden;
	overflow-y: scroll;
	width: 100%;
  }

#right1 p, #middle p {
	font-family: 'Yusei Magic', sans-serif;
}

#middle {
	position: absolute;
	right: 30px;
	top: 10px;
}

#middle p {
	text-align: right;
}

label {
	font-family: 'Yusei Magic', sans-serif;
}

input {
	font-family: 'Hachi Maru Pop';
}

#span1 {
	color: grey;
}

#span1:hover {
	color: black;
}